nav {
  background: #000;
}

nav a {
  color: #fff;
  display: block;
  text-decoration: none;
  padding: 4px 8px;
  border-bottom: 1px solid gray;
  text-align: center;
}

nav a:hover {
  background: #333;
}

@media(min-width: 600px) {
  nav {
    text-align: center;
    background-color: #333;
  }

  nav a {
    display: inline-block;
    border-bottom: 0;
    margin-right: 20px;
  }
}

@media(min-width: 1000px) {
  nav {
    text-align: right;
    padding-right: 10%;
  }
}
